{% extends "base.html" %}

{% block content %}
  <div class="single-recipe-page">
    <h1>{{ recipesitem.name }}</h1>
    <img src="{{ recipesitem.picture.url }}" alt="......">
    <p> {{ recipesitem.text }}</p>
  </div>


<!--        related recipe list     -->
  <h1 class="jump-control" id="recipes_jump">Produktai</h1>
  {% if store_items %}
    <div class="scroll-item-block" id="recipeBlock">
      {% for item in store_items %}
      <div class="single-item-block">
        <h2> {{ item.name }}</h2>
        <img alt="......" src="{{ item.picture.url }}">
        <p class="more" ><a href="{% url 'single_store_item' item.id%}">  placiau... </a></p>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>nera rodomu receptu</p>
  {% endif %}
{% endblock %}